#container {
    height: 500px;
    width: 300px;
    position: relative;
    background: #261e53
}

#screen {
    height: 100px;
    width: 260px;
    position: absolute;
    background-color: rgb(215, 226, 240);
    border: 20px solid #261e53;
}

.btn {
    border: none;
    color: white;
    padding: 15px 15px;
    width: 50px;
    font-size: 16px;
    cursor: pointer;
    background-color: #87aee9; 
}
.btn:hover {
    background-color: #5279b4; 
}

#clear {
    position: absolute;
    top: 400px;
    right: 230px;
}

#zero {
    position: absolute;
    top: 400px;
    right: 170px;
}

#one {
    position: absolute;
    top: 340px;
    right: 230px;

}

#two {
    position: absolute;
    top: 340px;
    right: 170px;
}

#three {
    position: absolute;
    top: 340px;
    right: 110px;
}

#four {
    position: absolute;
    top: 280px;
    right: 230px;
}

#five {
    position: absolute;
    top: 280px;
    right: 170px;
}

#six {
    position: absolute;
    top: 280px;
    right: 110px;
}

#seven {
    position: absolute;
    top: 220px;
    right: 230px;
}

#eight {
    position: absolute;
    top: 220px;
    right: 170px;
}

#nine {
    position: absolute;
    top: 220px;
    right: 110px;
}

#decimal {
    position: absolute;
    top: 400px;
    right: 110px;
}

#plusEquals {
    position: absolute;
    top: 220px;
    right: 50px;
}

#minus {
    position: absolute;
    top: 280px;
    right: 50px;

}

#multiply {
    position: absolute;
    top: 340px;
    right: 50px;

}

#divide {
    position: absolute;
    top: 400px;
    right: 50px;
}