// Credit: Nat Tuck, CS4550 Lecture 04 Code
// https://github.com/NatTuck/scratch-2021-01.git
{
    "parser": "babel-eslint",
    "rules": {
        "no-unused-vars": ["warn", { "varsIgnorePattern": "^_" }]
    }
}
